.Prenet-project {
  /* background-color: #fcffeb; */
  padding-top: 100px;
  padding-bottom: 100px;
}
.parent {
  background-color: #fcffeb;

  padding-bottom: 100px;
  position: relative;
}
.parent .links {
  position: relative;
  max-width: fit-content;
  /* top: 80%; */
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 50%);
}

.links ul {
  display: flex;

  flex-wrap: wrap;
}
.links ul li .Link {
  color: black;

  text-decoration: none;
  overflow: hidden;
  font-size: clamp(1rem, 3vw, 2.5rem);
  font-weight: 100;
  position: relative;
}
.links ul li .Link::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  background-color: black;
  bottom: 0;
  left: -0%;
}
.links ul li .Link:hover:after {
  left: 0%;
  width: 100%;
  transition: 0.6s;
}
.Homes {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}
.content {
  height: 100vh;
  width: 100px !important;
}
.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  background: gray;
  color: white;
  border-radius: 20px;
}
.prje {
  margin: 20px 0;
}
.imgss {
  transform: translate(120px, 20px);
  margin: 20px 0;
}
.prje :where(p) {
  font-weight: 200;
}
.prje :where(h1) {
  font-weight: 800;
  font-size: 70px;
}
