@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Nunito", sans-serif;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.contener {
  margin-left: 80px;
  margin-right: 80px;
}
li {
  list-style: none;
}
.bck-Header {
  background-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  /* position: relative; */
}

/* ::-webkit-scrollbar {
  display: none;
} */
